
body {
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 40px;
  margin-left: 80px;
  background-color: #97C3B1;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#DB25C5;
}

  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: '';
    position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 3px solid #dadada;
  width: 280px;
  color: #1A038B;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 20px;
  /* Радиус скругления */
  border: 10px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 10px solid #FFD700;
}

#button {
  border-radius: 5px;
  border: 5px solid transparent;
  cursor: pointer;
  }

#button:hover {
  border: 10px solid #FFD700;
  background: #F961EE;
}